body {
  overflow: hidden;
}
.menu {
  display: flex;
  flex-direction: column;
  border-radius: 10vw;
  padding: 0.5vw 1vw;
}

.menu-name {
  font-size: 1.1vw;
  font-weight: 500;
  color: black;
}

.menu-item {
  display: flex;
  padding-left: 1vw;
  gap: 1vw;
}

.avatar-info {
  display: flex;
  gap: 1vw;
  padding: 0.76vw;
}

.name {
  font-size: 1vw;
  color: black;
  font-weight: 700;
}

.email {
  font-size: 0.8vw;
}

@media (max-width: 767px) {
  .account-text {
    display: none;
  }
  .text {
    font-family: "Merriweather", Courier, monospace;
  }
  .name {
    font-size: 2vw;
  }
  .email {
    font-size: 1.5vw;
  }

  .name-email {
    margin-left: 1vw;
  }

  .menu-item {
    margin-left: 2vw;
  }

  .menu-name {
    margin-left: 1vw;
    font-size: 2vw;
  }
}
