:root {
  --product-info-color: rgb(7, 65, 212);
  --product-strike-color: rgb(110, 107, 107);
  --emerald-green: #046307;
  --soft-gold: #d4af37;
  --bronze: #cd7f32;
  --deep-gray: #3c3c3c;
}

ul,
ol,
body {
  margin: 0;
  padding: 0;
}

span {
  font-size: 1.2vw;
  color: #373636;
}

.main-image {
  height: 44vw;
  width: 35vw;
}

.small-image {
  width: 4vw;
  height: 5vw;
  box-sizing: border-box;
  cursor: pointer;
}

.small-image-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.product-card-name {
  color: black;
  font-size: 2.6vw;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0vw;
  margin-bottom: 0.2vw;
}

.product-card-one-liner {
  color: grey;
  font-size: 1.2vw;
  margin-top: 0.3vw;
  max-width: "15vw";
  overflow: "hidden";
  text-overflow: "ellipsis";
  white-space: "nowrap";
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1.2vw;
  margin: 2vw 0 1vw 0;
}

.product-card-price-strike {
  color: var(--product-strike-color);
  font-size: 1.3vw;
  text-decoration: line-through;
}

.product-card-price {
  color: var(--soft-gold);
  font-size: 1.5vw;
  font-weight: 560;
}

.product-card-rating {
  display: flex;
  color: var(--deep-gray);
  font-weight: 600;
  font-size: 1vw;
  align-items: center;
  border: 1px solid black;
  width: 12vw;
  padding: 0.3vw;
  margin-bottom: 2vw;
}

.size {
  font-size: 1vw;
  color: white;
  margin-left: 0vw;
}

.list-size {
  display: flex;
  align-items: center;
  gap: 0.4vw;
  margin-top: 0.2vw;
}

.list-size .item-list {
  list-style: none;
}

.product-small-image.border-left {
  outline: 0.2vw solid var(--soft-gold);
  height: 5vw;
}

.list-size .item-list-button {
  cursor: pointer;
  padding: 0.6vw;
  background-color: black;
  font-size: 0.9vw;
  color: var(--light);
  border-radius: 0.6vw;
  /* transition: all 0.3s ease-in-out; */
}

.item-list-button:hover {
  border: 2px solid var(--soft-gold);
  /* transition: all 0.3s ease-in-out; */
}

.item-list-button:focus {
  background-color: var(--soft-gold);
  box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.product-description {
  color: #373636;
  text-align: justify;
  margin: 1vw 6vw 0 0;
  font-size: 1vw;
  line-height: 1.2vw;
  word-spacing: 0.2vw;
}

.mobile-carousel {
  width: 100%;
  max-width: 40vw;
  margin: 0;
  overflow: hidden;
}

.slick-slider {
  width: 100%;
}

.slick-slide div {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .small-image {
    width: 15vw;
    height: 20vw;
    box-sizing: border-box;
  }
  .small-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vh;
  }

  .main-image {
    height: 120vw;
    width: 100vw;
  }

  .product-card-name {
    font-size: 6vw;
    font-weight: 650;
    margin-bottom: 0.2vw;
  }

  .product-card-one-liner {
    font-size: 3.2vw;
    margin-top: 1vw;
  }

  .product-price {
    gap: 4w;
    margin: 4vw 0 4vw 0;
  }
  .product-card-price-strike {
    color: var(--product-strike-color);
    font-size: 4vw;
    font-weight: 650;
    text-decoration: line-through;
  }

  .product-card-price {
    color: var(--soft-gold);
    font-size: 4vw;
    font-weight: 650;
  }

  .product-card-rating {
    font-weight: 600;
    font-size: 3vw;
    width: auto;
    padding: 1vw;
    margin-bottom: 5vw;
  }

  span {
    font-size: 3.5vw;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
  }

  .list-size {
    display: flex;
    align-items: center;
    gap: 2.5vw;
    margin-top: 0.2vw;
  }

  .list-size .item-list {
    list-style: none;
  }

  .product-small-image.border-left {
    outline: 0.7vw solid var(--soft-gold);
    height: 20vw;
  }

  .list-size .item-list-button {
    cursor: pointer;
    padding: 2vw;
    background-color: black;
    font-size: 3vw;
    color: var(--light);
    border-radius: 0.6vw;
    /* transition: all 0.3s ease-in-out; */
  }

  .item-list-button:hover {
    border: 2px solid var(--light);
  }

  .item-list-button:focus {
    background-color: var(--soft-gold);
    border: 2px solid whitesmoke;
    box-shadow: inset 0px 1px 4px var(--primary-shadow);
  }

  .product-description {
    color: #373636;
    text-align: justify;
    margin: 5vw;
    font-size: 3vw;
    line-height: 4vw;
  }

  .mobile-carousel {
    width: 100%;
    max-width: 100vw;
    max-height: 80vh;
    margin: 0;
    overflow: hidden;
  }

  .slick-slider {
    width: 100%;
  }

  .slick-slide div {
    display: flex;
    justify-content: center;
  }
}
