.wishlist-icon {
  position: absolute;
}

.wishlist-indv-image {
  height: 11vw;
  width: 9vw;
  border-radius: 0.4vw;
}

.wishList-container {
  margin: 2vw;
}

.remove-from-wishlist {
  color: gold;
  height: 1vw;
  width: 10vw;
}

.wishlist-items {
  position: relative;
}

@media (max-width: 767px) {
  .wishlist-indv-image {
    height: 15vh;
    width: 27vw;
    border-radius: 2vw;
  }
}
