:root {
  --heading-font: ;
}
.main-heading {
  font-size: 4vw;
  font-weight: 500;
  cursor: pointer;
}

.sub-heading1 {
  font-size: 1.6vw;
  cursor: pointer;
}

.indv-product-card {
  display: flex;
  flex-direction: column;
  width: 17vw;
  justify-content: center;
  border-radius: 17px;
  align-items: left;
  margin: 0.7vw;
  position: relative;
}

.indv-product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.indv-image {
  position: relative;
  height: 22vw;
  width: 17vw;
  box-sizing: border-box;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.product-name {
  font-size: 1.1vw;
  font-weight: 600;
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: brown;
  margin: 0.2vh;
}

.product-one-liner {
  margin-top: 0.1vw;
  font-size: 1vw;
  color: black;
  font-weight: 500;
  text-align: left;
}

.card-rating {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-evenly;
  background-color: rgb(214, 211, 211);
  width: auto;
  margin-top: 12.4vw;
  margin-left: 1vw;
  border-radius: 5px;
  padding: 0.2vw;
  color: black;
}

.loader {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}
/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}
/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}
.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}
.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

.fav-icon {
  position: absolute;
  left: 14vw;
  bottom: 10.2vw;
  color: red;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}

@media (max-width: 820px) {
  .fav-icon {
    position: absolute;
    bottom: 32vw;
    left: 36vw;
    color: red;
  }
  .main-heading {
    font-size: 6vw;
  }
  .sub-heading1 {
    font-size: 3vw;
  }

  .phone-search {
    display: flex;
    border-radius: 50px;
    font-size: 2vw;
  }

  .indv-product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45vw;
    /* padding: 0.4vw; */
    justify-content: center;
    align-items: left;
    margin: 0.7vw;
    border-radius: 10px;
    border: none;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .indv-product-card:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: none;
  }

  .indv-image {
    position: relative;
    height: 35vh;
    width: 45vw;
    /* border-radius: 10px; */
    object-fit: cover;
    transition: opacity 1s ease-in-out;
  }

  .product-name {
    font-size: 4vw;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 700;
    text-align: left;
    color: brown;
    margin: 0.2vh;
  }

  .product-one-liner {
    margin-top: 0.1vw;
    font-size: 2.5vw;
    color: black;
    font-weight: 500;
    text-align: left;
  }

  .card-rating {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 3.5vw;
    gap: 0.6vw;
    justify-content: space-evenly;
    background-color: rgb(240, 240, 240);
    margin-top: 22vh;
    margin-left: 3vw;
    border-radius: 5px;
    padding: 0.3vw;
    width: auto;
    color: black;
  }
}
